.upload-and-button {
  display: flex;
  flex-direction: column;
}

.upload-container {
  text-align: center;
}

.upload-box {
  display: block;
  border: 2px dashed #ccc;
  padding: 2rem;
  border-radius: 5px;
  cursor: pointer;
  background: #fafafa;
  margin-bottom: 1rem;
}

.upload-icon {
  font-size: 3rem;
  margin-bottom: 0.5rem;
}

.instruction {
  color: #666;
  font-size: 0.9rem;
}

.error {
  color: red;
  margin-top: 0.5rem;
}

.validate-button {
  max-width: 15rem;
  justify-self: center;
  margin-top: 0.25rem;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  background-color: #59b5ce;
  color: white;
  border: none;
  font-size: 1rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.file-uploaded {
  width: 160px;
  height: 160px;
  margin: 0 auto;
  background-color: #fafafa;
  border: 2px dashed #ccc;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.validate-button:hover {
  background-color: #387282;
}

.choose-new-button {
  justify-self: center;
  margin-top: 1rem;
  padding: 0.35rem 0.75rem;
  border-radius: 5px;
  background-color: white;
  color: #274a53;
  /*border: 1px solid #274a53;*/
  font-size: 0.75rem;
  cursor: pointer;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  border: none;
}

.choose-new-button:hover {
  text-decoration: underline;
}

.success-message {
  color: green;
  font-weight: bold;
  margin-top: 10px;
}
